body {
    padding: 0;
    margin: 0;
}

[v-cloak] {
    display: none;
}

.modal {
    width: 500px;
    height: 200px;
    border: 1px solid #5b9bd5;
    overflow: visible;
}

.modalVisible {
    display: block;
    width: 300px;
    height: 250px;
    background-color: white;    
    margin: 0 auto;
    margin-top: 50px;
}

.modal-button {
    text-decoration: underline;    
    cursor: pointer;
}

.date {
    width: 190px;
}

.close {
    margin: 0px;
    background-color: #5b9bd5 !important;
    width: 17px;
    height: 20px;
    text-shadow: none;
}

.bootstrap-datetimepicker-widget {
    cursor: pointer;
}

.movie-table tr {
    height: 20px;
}

.movie-table th {
    line-height: 1;
}

.head-row {
    background-color: #5b9bd5;
    color: white;
}

.movie-row {
    color: black;
}

.movie-row:nth-child(2n+1) {
    background-color: #d2deef;
}

.movie-row:nth-child(2n) {
    background-color: #eaeff7;
}

.movie-table .paging-row {
    background-color: #d9e5f1;
}

.movie-table .paging-row td {
    padding: 3px 0px !important;
}

.movie-table {
    width: 500px;
    margin: 0 auto;
    margin-top: 70px;
}

h2 {
    text-align: center;
}

.movie-table td, .movie-table th {
    text-align: left;
    padding: 5px !important;
    line-height: 1 !important;
}

.movie-list-wrapper {
    width: 500px;
    margin: 0 auto;
}

.left-icon, .right-icon {
    width: 15px;
    height: 12px;
    cursor: pointer;
    margin: 0 2px;
}

.page-number {
    width: 30px;
    height: 20px;
}

.custom-btn {
    height: 25px;
    padding: 0 4px;
    margin-top: 10px;
    border-radius: 2px;
    min-width: 90px;
}

.col-1 {
    width: 25px;
}

.col-2 {
    width: 50px;
}

.col-3 {
    width: 100px;
}

.col-4 {
    width: 150px;
}

.input-field, .input-group .form-control {
    height: 20px;
    width: 180px;
    background-color: #5b9bd5;
    color: white;
}

.input-field:focus, .input-group .form-control:focus {
    outline: none;
}

.display-movies {
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}

label {
    text-align: left;
}

.movie-modal .input-group-addon {
    padding: 4px !important;
     background-color: initial;
     border: 0;
}

.date {
    padding-left: 15px !important;
}

.modal-container {
    margin-left: 35px;
    margin-top: 40px;
}

.close-btn {
    float: right;
    margin-right: 30px;
}

.modal-title-container {
    position: relative;
}

.modal-title {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: white;
    padding: 0 40px 0 4px;
}